.root {
  list-style-type: none;
  /* display: inline-flex; */
  /* flex-wrap: no-wrap; */
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 1rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1;

  @media (prefers-color-scheme: light) {
    background-color: rgba(0, 0, 0, .1);
  }
}
