.root {
  --border-color: rgba(var(--primary-color), .1);

  display: grid;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "head head"
    "left right";
}

.head {
  grid-area: head;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: 'title qrCode'
    'subtitle qrCode';
}

@media print {
  .head {
    border: none;
  }
}

.head h1 {
  grid-area: title;
  margin-bottom: 0.5rem;
}

.head h2 {
  grid-area: subtitle;
  margin-top: 0.5rem;
}

.left {
  grid-area: left;
  padding: 0 1rem;
  border-right: 1px solid var(--border-color);
  container-type: inline-size;
}

@media print {
  .left {
    border: none;
  }
}

.right {
  grid-area: right;
  padding: 0 1rem;
}


/* Mobile layout */

@media only screen and (max-width: 1024px) {
  .root {
    display: flex;
    flex-direction: column;
    container-type: inline-size;
  }

  .left,
  .right {
    display: contents;
    border: none;
  }

  .left>*,
  .right>* {
    padding: 0 1rem;
  }

  .left {
    container-type: initial;
  }

  .head {
    border: none;
    order: 1;
  }

  .contact {
    order: 2;
  }

  .skills {
    order: 4
  }

  .languages {
    order: 7;
  }

  .education {
    order: 6;
  }

  .profile {
    order: 3;
  }

  .employment {
    order: 5;
  }
}


/* QR code */

.qrCode {
  grid-area: qrCode;
  position: relative;
  height: 100%;
  aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 1024px) {
  .qrCode {
    display: none;
  }
}

.qrCode>* {
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translate(0, -50%);
  max-width: calc(100% - 1rem * 2);
  max-height: calc(100% - 1rem * 2);
  border: 1rem solid #fff;
}

@media (prefers-color-scheme: light) {
  .qrCode>* {
    border-color: transparent;
  }
}


/* Skills */

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 0.75rem 0.5rem;
  padding: 0;
}


/* Shared */

.listUnstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.listUnstyled>li {
  margin-bottom: 1.75rem;
}
