.title {
  position: relative;
  margin: 1.25rem 0;
  text-transform: uppercase;
  font-weight: 400;
}

.title::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 3.5rem;
  height: 0.25rem;
  background-color: rgba(var(--primary-color), 1);
}

@media print {
  .title {
    border-bottom: 1px solid rgb(var(--primary-color));
  }

  .title::before {
    content: none;
  }
}
