.title {
  position: relative;
  margin: 1.25rem 0;
  text-transform: uppercase;
  font-weight: 400;
}

.title::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 3.5rem;
  height: 0.25rem;
  background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  .title::before {
    background-color: #000000;
  }
}

@media print {
  .title {
    border-bottom: 1px solid #000000;
  }

  .title::before {
    content: none;
  }
}
